// font-sizes (fixed)
$font-size--9: 3.052em; // 48.83px
$font-size--8: 2.441em; // 39.06px
$font-size--7: 1.953em; // 31.25px
$font-size--6: 1.563em; // 25.00px
$font-size--5: 1.25em; // 20.00px
$font-size--4: 1em; // 16.00px (DEFAULT)
$font-size--3: 0.8em; // 12.80px
$font-size--2: 0.64em; // 10.24px
$font-size--1: 0.512em; // 8.19px

$white: #ffffff;
$main-gray: #697180;
$alpha-main-gray: rgba(105, 113, 128, 0.5);
$light-olive: #D1E2C4;
$main-olive: #778A35;
$main-white: #EBEBE8;
$main-black: #222222;
$alpha-black: rgba(0, 0, 0, .25);