@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* palette */
    --main-gray: #656e79;
    --main-brown: #b78b64;
    --main-dark-green: #334649;
    --main-olive-green: #959e87;
    --main-white: #f6fefb;
    --main-black: #222222;

    /* font family, fallback to serif-mono (tailwind default) */
    --primary-font: "Space Grotesk", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --secondary-font: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  body {
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
}
